.body {
  width: 70%;
  background-color: #f1f9f9;
  font-family: 'Poppins', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: justify;
  position: absolute;
  top: 120%;
  left: 35%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  height: auto;
  position: relative;
  top: 400%;
  left: 1%;
}

h1 {
  font-weight: normal;
  position: relative;
  left: 150px;
  text-align: center;
  top: 0;
}

h3 {
  font-weight: bold;
  position: relative;
  left: 15%;
  text-align: center;
  font-size: 20px;
}

.special {
  font-weight: normal;
  text-align: center;
  position: relative;
  left: 40%;
  width: 50%;
}

.decoration {
  display: flex;
  width: 100%;
  margin: 50px;
  justify-content: space-between;
}

/*   f6e5f5  */
.supervisor {
  background-color: #ffffff;
  width: 20%;
  margin: 0 5px;
  position: absolute;
  top: 60%;
  left: 11.5%;
  padding-left: 10px;
  border-color: #f67280 #ffffff #ffffff #ffffff;
  border-style: solid;
}

.team_builder {
  background-color: #ffffff;
  width: 20%;
  margin: 0 5px;
  padding-left: 10px;
  border-color: #eab0d9 #ffffff #ffffff #ffffff;
  border-style: solid;
  position: absolute;
  top: 40%;
  left: 34.8%;
}

.calculator {
  background-color: #ffffff;
  width: 20%;
  border-color: #fd2eb3 #ffffff #ffffff #ffffff;
  border-style: solid;
  margin: 0 5px;
  padding-left: 10px;
  position: absolute;
  left: 58%;
  top: 60%;
}

.karma {
  background-color: #ffffff;
  width: 20%;
  border-color: #ff677d #ffffff #ffffff #ffffff;
  border-style: solid;
  padding-left: 10px;
  position: absolute;
  top: 80%;
  left: 35%;
  display: block;
}

.imgClass {
  position: relative;
  left: 70%;
}
